In [38]:
# Dependencies
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [39]:
# Load data
outbreak_datas = pd.read_csv('/Users/admin/Documents/GitHub/Covidvariant/cleaned_covid_data.csv')
# Clean DF
outbreak_data = outbreak_datas

In [40]:
# Display dataset
print(outbreak_data.head())

     Country   first_seq  num_seqs    last_seq variant censure_date  duration  \
0      China  2019-10-22         3  2020-06-03  S.Q677   2020-06-21       225
1        USA  2020-03-03     26022  2021-11-19  S.Q677   2020-11-01       626
2     Brazil  2020-03-09      1553  2021-11-12  S.Q677   2020-11-07       613
3  Australia  2020-03-20        88  2021-11-14  S.Q677   2020-11-18       604
4     Sweden  2020-03-20       810  2021-11-19  S.Q677   2020-11-18       609

   censored  mortality_rate    total_cases  total_deaths   growth_rate
0      True        0.052983   18259.460120    967.435583  16447.430710
1     False        0.016111  256577.596200   4133.841031  84748.745880
2     False        0.027846  101550.140500   2827.764288  42356.907430
3     False        0.009905    1402.239579     13.889752   1227.122500
4     False        0.012711    1659.148728     21.089425   2521.042925

In [41]:
# Round Growth rate and mortality rate columns to 2 decimal places
outbreak_data['growth_rate'] = outbreak_data['growth_rate'].round(2)
outbreak_data['mortality_rate'] = outbreak_data['mortality_rate'].round(2)

In [42]:
# Round total deaths and total cases columns to whole number values
outbreak_data['total_deaths'] = np.ceil(outbreak_data['total_deaths']).astype(int)
outbreak_data['total_cases'] = np.ceil(outbreak_data['total_cases']).astype(int)

In [43]:
# Display Clean df before exporting
outbreak_data.head()

,Country,first_seq,num_seqs,last_seq,variant,censure_date,duration,censored,mortality_rate,total_cases,total_deaths,growth_rate
0,China,2019-10-22,3,2020-06-03,S.Q677,2020-06-21,225,True,0.05,18260,968,16447.43
1,USA,2020-03-03,26022,2021-11-19,S.Q677,2020-11-01,626,False,0.02,256578,4134,84748.75
2,Brazil,2020-03-09,1553,2021-11-12,S.Q677,2020-11-07,613,False,0.03,101551,2828,42356.91
3,Australia,2020-03-20,88,2021-11-14,S.Q677,2020-11-18,604,False,0.01,1403,14,1227.12
4,Sweden,2020-03-20,810,2021-11-19,S.Q677,2020-11-18,609,False,0.01,1660,22,2521.04

In [44]:
# Print DF 
outbreak_data

,Country,first_seq,num_seqs,last_seq,variant,censure_date,duration,censored,mortality_rate,total_cases,total_deaths,growth_rate
0,China,2019-10-22,3,2020-06-03,S.Q677,2020-06-21,225,True,0.05,18260,968,16447.43
1,USA,2020-03-03,26022,2021-11-19,S.Q677,2020-11-01,626,False,0.02,256578,4134,84748.75
2,Brazil,2020-03-09,1553,2021-11-12,S.Q677,2020-11-07,613,False,0.03,101551,2828,42356.91
3,Australia,2020-03-20,88,2021-11-14,S.Q677,2020-11-18,604,False,0.01,1403,14,1227.12
4,Sweden,2020-03-20,810,2021-11-19,S.Q677,2020-11-18,609,False,0.01,1660,22,2521.04
...,...,...,...,...,...,...,...,...,...,...,...,...
4108,Kazakhstan,2021-08-17,88,2021-08-19,21J.Delta,2022-04-17,2,True,0.01,52245,776,7722.50
4109,Cyprus,2021-08-28,1,2021-08-28,21J.Delta,2022-04-28,0,True,0.00,488,3,7722.50
4110,Guyana,2021-09-06,18,2021-09-08,21J.Delta,2022-05-07,2,True,0.02,3856,95,131.00
4111,Comoros,2021-10-05,11,2021-10-26,21J.Delta,2022-06-05,21,True,0.03,1013,36,3.15
4112,Belarus,2021-10-27,1,2021-10-27,21J.Delta,2022-06-27,0,True,0.01,18507,143,3.15

In [45]:
#save clean df as csv 
outbreak_data.to_csv('outbreak_data.csv', encoding='utf-8', index=False)